<launch>


<node pkg="rosbag" type="play" name="myrosbag_pub" args="/home/ursrobot/Downloads/2022-01-27-14-24-06_in.bag">
    <remap from="/outdoor_waypoint_nav/odometry/filtered_map" to="/aaaa/outdoor_waypoint_nav/odometry/filtered_map"/>
    <remap from="/outdoor_waypoint_nav/gps/filtered" to="/aaaa/outdoor_waypoint_nav/gps/filtered"/>
    <remap from="/cmd_vel" to="/aaaa/cmd_vel"/>
    <remap from="/scan" to="/aaaa/scan"/>
</node>
<!-- <node pkg="rosbag" type="record" name="myrosbag2" args="-a" /> -->

<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find depth_car)/config/lidar_config.yaml"/>
    <remap from="scan" to="/aaaa/scan"/>
    <remap from="scan_filtered" to="/aaaa/scan_filtered"/>
</node>
<remap from="/outdoor_waypoint_nav/odometry/filtered_map" to="/aaaa/outdoor_waypoint_nav/odometry/filtered_map"/>
<remap from="/outdoor_waypoint_nav/gps/filtered" to="/aaaa/outdoor_waypoint_nav/gps/filtered"/>
<remap from="/cmd_vel" to="/aaaa/cmd_vel"/>
<remap from="scan_filtered" to="/aaaa/scan_filtered"/>


<include file="$(find depth_car)/launch/wow_no_gen_scan.launch"></include>
<include file="$(find depth_car)/launch/my_bag.launch"></include>
</launch>
