<launch>



<param name="XZ_MODE" value="1" />
<param name="Enable_Fixed_Point_Strat" value="0" />
<param name="Use_GPS_time" value="10000" />
<param name="date_time_folder" value="/media/yuqiang/2CFC30D1FC309754/BAG/220113_Dahu/220113_Dahu_cpp/20220113_16-24-08" />
<param name="Use_WOW_controller" value="1" />
<param name="Good_Computer" value="1" />

<node pkg="depth_car" type="plot_node2.py" name="plot_node2" output="screen"/>
<node pkg="depth_car" type="show_3th_part_video.py" name="show_3th_part_video" output="screen"/>
<node pkg="depth_car" type="print_node.py" name="print_node" output="screen" launch-prefix="xterm -fa 'Monospace' -fs 10 -geometry 150x20+450+0 -e"/>


</launch>
