<launch>


<node pkg="rosbag" type="play" name="myrosbag_pub" args="/media/yuqiang/2CFC30D1FC309754/BAG/220127_DaHu/bag/2022-01-27-14-24-06_in.bag">
    <remap from="/outdoor_waypoint_nav/odometry/filtered_map" to="/aaaa/outdoor_waypoint_nav/odometry/filtered_map"/>
    <remap from="/outdoor_waypoint_nav/gps/filtered" to="/aaaa/outdoor_waypoint_nav/gps/filtered"/>
    <remap from="/cmd_vel" to="/aaaa/cmd_vel"/>
</node>
<!-- <node pkg="rosbag" type="record" name="myrosbag2" args="-a" /> -->

<param name="XZ_MODE" value="1" />
<param name="Enable_Fixed_Point_Strat" value="0" />
<param name="Use_GPS_time" value="10000" />
<param name="date_time_folder" value="/home/yuqiang/20220127_12-11-38" />
<param name="Use_WOW_controller" value="1" />
<param name="Good_Computer" value="1" />
<remap from="/outdoor_waypoint_nav/odometry/filtered_map" to="/aaaa/outdoor_waypoint_nav/odometry/filtered_map"/>
    <remap from="/outdoor_waypoint_nav/gps/filtered" to="/aaaa/outdoor_waypoint_nav/gps/filtered"/>
    <remap from="/cmd_vel" to="/aaaa/cmd_vel"/>

<include file="$(find depth_car)/launch/wow_no_gen_scan.launch"></include>
<include file="$(find depth_car)/launch/my_bag.launch"></include>
</launch>
