<launch>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
        <remap from="image" to="/camera/depth/image_rect_raw"/>
        <remap from="scan" to="/scan" />
        <param name="scan_height" value="20"/>
        <param name="scan_height_min" value="700"/>
        <param name="scan_height_max" value="900"/>
        <param name="scan_time" value="0.03"/>
        <param name="range_min" value="0.4"/>
        <param name="range_max" value="10.0"/>
        <param name="output_frame_id" value="camera_depth_frame"/>
        <param name="show_mask" value="true"/>
    </node>
            
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
        <rosparam command="load" file="$(find depth_car)/config/lidar_config.yaml"/>
        <remap from="base_scan" to="scan"/>
    </node>

<node pkg="depth_car" type="ls_ang.py" name="ls_ang"/>
<node pkg="depth_car" type="kf_ang.py" name="kf_ang"/>
<node pkg="depth_car" type="gps2ang.py" name="gps2ang"/>
<node pkg="depth_car" type="add2filtered_map.py" name="add2filtered_map"/>
<node pkg="mapping_explorer" type="trunk_center_from_ls.py" name="trunk_center_from_ls"/>
<node pkg="depth_car" type="wow2tree.py" name="wow2tree"/>
<node pkg="depth_car" type="tree2map.py" name="tree2map"/>

<param name="XZ_MODE" value="1" />
<node pkg="depth_car" type="landmark_ekf_ros.py" name="landmark_ekf_ros"/>
<node pkg="depth_car" type="plot_node.py" name="plot_node" output="screen"/>
<!-- <node pkg="depth_car" type="plot_node2.py" name="plot_node2" output="screen"/> -->


<node pkg="mapping_explorer" type="tf_transformer_map2.py" name="tf_transformer_map2" output="screen"/>

</launch>
