<launch>
<node pkg="depth_car" type="ls_ang.py" name="ls_ang" output="screen"/>
<node pkg="depth_car" type="kf_ang.py" name="kf_ang" output="screen"/>
<node pkg="depth_car" type="gps2ang.py" name="gps2ang" output="screen"/>

<node pkg="mapping_explorer" type="trunk_center_from_ls.py" name="trunk_center_from_ls"/>
<node pkg="depth_car" type="wow2tree.py" name="wow2tree" output="screen"/>
<node pkg="depth_car" type="tree2map.py" name="tree2map" output="screen"/>


<param name="XZ_MODE" value="1" />
<node pkg="depth_car" type="landmark_ekf_ros.py" name="landmark_ekf_ros" output="screen"/>
<node pkg="depth_car" type="plot_node2.py" name="plot_node2" output="screen"/>
<node pkg="depth_car" type="plot_node3.py" name="plot_node3" output="screen"/>

<param name="Enable_Fixed_Point_Strat" value="0" />
<node pkg="depth_car" type="utm2local_org_node.py" name="utm2local_org_node" output="screen"/>


<node pkg="mapping_explorer" type="tf_transformer_map2.py" name="tf_transformer_map2" output="screen"/>

</launch>
